{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block start_body %}
    <div id="greeter">
        <button id="greeter__welcome_button">
            <span class="text">{% trans "Welcome!" %}</span>
            <span class="click_here">({% trans "Click here" %})</span>
        </button>
    </div>
{% endblock %}

{% block title %}
    {{ block.super }}
    Привет мир
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static "styles/index.sass" %}" rel="stylesheet" type="text/x-sass">
{% endblock %}

{% block content_block %}
{% endblock %}
