{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block start_body %}
    <div id="greeter">
        <button id="greeter__welcome_button">
            <span class="text">{% trans "Welcome!" %}</span>
            <span class="click_here">({% trans "Click here" %})</span>
        </button>
    </div>
{% endblock %}

{% block title %}
    {{ block.super }}
    Привет мир
{% endblock %}

{% block js %}
    {{ block.super }}

    {# Пример добавления js файла #}
    <script src="{% static "js/blank.ts" %}" type="text/"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}

    {# Пример добавления sass файла #}
    <link href="{% static "styles/blank.sass" %}" rel="stylesheet" type="text/typescript">
{% endblock %}

{% block content_block %}
{% endblock %}
