{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}
    {{ block.super }}
    Привет мир
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static "styles/music.sass" %}" rel="stylesheet" type="text/x-sass">
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="hidden">Music</h1>
    <img class="h1 tab" src="{% static "images/h1/tab.svg" %}">

    <div style="height: 40px">
        {% for album in tab_albums %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="clearfix"></div>
                </div>
                <div class="row">
            {% endif %}
            <div class="col player-container">
                <img src="{% thumbnail album.cover 300x300 crop quality=100 %}" class="cover">
                <h2>{{ album }}</h2>

                <a class="price-block">
                    {% if album.price == 0 %}
                        free
                    {% else %}
                        Full tab book: ${{ album.price }}
                    {% endif %}
                    <span class="icon-download"></span>
                </a>

                <div class="track-list">
                    {% for track in album.tracks.all %}
                        <div class="track-item"
                             data-index="{{ forloop.counter0 }}"
                             data-src="{{ track.file.url }}"
                             data-audio="audio_album_{{ album.pk }}"
                        >
                            <div class="left hold">
                                <span class="text">{{ forloop.counter }}.</span>
                            </div>
                            <div class="name">
                                Track {{ forloop.counter }}
                            </div>
                            <div class="right">
                                <div class="length">
                                    {{ track.duration }}
                                </div>
                                <a class="price hold">
                                    {% if track.price == 0 %}
                                        free
                                    {% else %}
                                        ${{ track.price }}
                                    {% endif %}
                                    <span class="icon-download"></span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    <div class="clearfix"></div>
    </div>
{% endblock %}
